<% content_for(:title, "#{current_user.user_name} -  favorite leads" )%>
<div class="clearfix"></div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
            <div id="sidebar" class="sidebar-left">
              <div class="sidebar_inner">
                <%= render "shared/user_Profile_Menu" %>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered">
              <h1>My Favorite Leads</h1>
            </div>
           <% if @fav_leads.present? %>
				<% @fav_leads.each do |fav| %>
						 <div class="card">
					        <div class="row no-gutters">
					        	<% if fav.lead_status == "product" %>
					            <div class="col-auto">
					                <img src="//placehold.it/200" class="img-fluid img-thumbnail" alt="">
					            </div>
					            <% end %>
					            <div class="col">
					                <div class="card-block px-3 py-2">
					                    <h4 class="card-title"><%= link_to fav.title, lead_path(fav.id) %></h4>
					                    <p class="card-text py-4"><%= fav.description_short %>...</p>
					                </div>
					            </div>
					        </div>
					        <div class="card-footer w-100">
					           <span class="text-muted"> Seller from: </span> <%= country_name(fav.country) %>  
					           <span class="float-right"> <%= fav.created_at.strftime("%B %e, %Y") %></span>
					        </div>
					    </div>
					    <br><br>
				<% end %>
					<%= paginate @fav_leads %>	
			<% else %>
					<h4 class="text-muted text-center">No favorite leads yet</h4>
			<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>