
<%= form_for(@contact) do |f| %>

<div class="form-group">
     <h3 class="subheadline">Company Description</h3>
    <%= f.text_area :company_description, :class=>"form-control form-control-lg rounded-1", :id=>"companyDescription", rows: "5" %>
    <small id="descriptionHelp" class="form-text text-muted">Describe your company's activity for the customers</small>
</div>

<div class="form-group">
    <h3 class="subheadline">Areas of Interest</h3>
    <% @categories.each do |category| %>
    <div class="form-check form-check-inline">
         <%= f.check_box :areas_of_interest, { multiple: true, :class=>"form-check-input" }, category.name, false %>
        <label class="form-check-label"><%= category.name %></label>
    </div>
    <% end %>
</div>

<div class="form-group">
     <h3 class="subheadline">Country</h3>
    <%= country_select("contact", "country", { }, { class: 'form-control form-control-lg ui-select' }) %>
</div>

<div class="form-group">
     <h3 class="subheadline">City</h3>
     <%= f.text_field :city, autocomplete: "city", :class=>"form-control form-control-lg", :id=>"city" %>
</div>

<div class="form-group">
     <h3 class="subheadline">Address</h3>
    <%= f.text_field :address, autocomplete: "address", :class=>"form-control form-control-lg", :id=>"address" %>
</div>

<div class="form-group">
     <h3 class="subheadline">Zip Code</h3>
    <%= f.text_field :zip_code, autocomplete: "zip_code", :class=>"form-control form-control-lg", :id=>"zip_code" %>
</div>

<div class="form-group">
     <h3 class="subheadline">Phone Number</h3>
    <%= f.text_field :phone_number, autocomplete: "phone number", :class=>"form-control form-control-lg", :id=>"phone_number" %>
</div>

<div class="form-group">
     <h3 class="subheadline">Number of Employes</h3>
    <%= f.number_field :number_of_employes, autocomplete: "number_of_employes", :class=>"form-control form-control-lg", :id=>"number_of_employes" %>
</div>

<div class="form-group">
     <h3 class="subheadline">Annual Sales in US dolars</h3>
    <%= f.text_field :annual_sales, autocomplete: "annual_sales", :class=>"form-control form-control-lg", :id=>"annual_sales" %>
</div>

<div class="form-group">
     <h3 class="subheadline">Home Page</h3>
    <%= f.text_field :home_page, autocomplete: "Home Page", :class=>"form-control form-control-lg", :id=>"home_page" %>
</div>

<div class="form-group">
     <h3 class="subheadline">Year of Establishment</h3>
    <%= f.number_field :year_of_establishment, autocomplete: "Year of Establishment", :class=>"form-control form-control-lg", :id=>"establishment" %>
</div>

<div class="form-group text-center">
    <%= user_avatar(@contact,"img_prev") %>
    <br>
   <label class="btn btn-primary">
    Upload Your Avatar <%= f.file_field :avatar, style: "display: none;", :onChange=>"readURL(this,300,300)", :id=>"preview_loader" %>
   </label>
</div>

<br><br><br>
<%= f.submit 'Update', :class=>"btn btn-info btn-lg btn-block" %>

<% end %>