<%= form_for contact, html: { multipart: true } do |f| %>

<div class="form-group">
    <label for="companyDescription">Company Description</label>
    <%= f.text_area :company_description, :class=>"form-control rounded-1", :id=>"companyDescription", rows: "5" %>
    <small id="descriptionHelp" class="form-text text-muted">Describe your company's activity for the Customers</small>
</div>

<div class="form-group">
    <label for="address">Address</label>
    <%= f.text_field :address, autocomplete: "address", :class=>"form-control", :id=>"address" %>
</div>

<div class="form-group">
    <label for="city">City</label>
     <%= f.text_field :city, autocomplete: "city", :class=>"form-control", :id=>"city" %>
  </div>

<div class="form-group">
    <label for="zip_code">Zip Code</label>
    <%= f.text_field :zip_code, autocomplete: "zip_code", :class=>"form-control", :id=>"zip_code" %>
</div>

<div class="form-group">
    <label for="country">Country</label>
    <%= country_select("contact", "country", { }, { class: 'form-control' }) %>
  </div>

<div class="form-group">
    <label for="phone_number">Phone Number</label>
    <%= f.text_field :phone_number, autocomplete: "phone number", :class=>"form-control", :id=>"phone_number" %>
</div>

<div class="form-group">
    <label for="home_page">Home Page</label>
    <%= f.text_field :home_page, autocomplete: "Home Page", :class=>"form-control", :id=>"home_page" %>
</div>

<div class="form-group">
    <label for="establishment">Year of Establishment</label>
    <%= f.text_field :year_of_establishment, autocomplete: "Year of Establishment", :class=>"form-control", :id=>"establishment" %>
</div>

<div class="form-group text-center">
    <%= set_user_avatar(@contact,"img_prev") %>
    <br>
   <label class="btn btn-primary">
    Upload Your Avatar <%= f.file_field :avatar, style: "display: none;", :onChange=>"readURL(this,300,300)", :id=>"preview_loader" %>
   </label>
</div>

<br><br><br>
<%= f.submit 'Update', :class=>"btn btn-info btn-lg btn-block" %>

<% end %>