<%= form_for contact, html: { multipart: true } do |f| %>

 <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

   <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "city" %>
  </div>

   <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code, autocomplete: "zip code" %>
  </div>

   <div class="field">
    <%= f.label :country %><br />
    <%= country_select("contact", "country") %>
  </div>

   <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autocomplete: "phone number" %>
  </div>

   <div class="field">
    <%= f.label :home_page %><br />
    <%= f.text_field :home_page, autocomplete: "Home Page" %>
  </div>

   <div class="field">
    <%= f.label :company_description %><br />
    <%= f.text_field :company_description, autocomplete: "your company description" %>
  </div>

  <div class="field">
    <%= f.label :year_of_establishment %><br />
    <%= f.text_field :year_of_establishment, autocomplete: "year of establishment" %>
  </div>

   <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

   <div class="actions">
    <%= f.submit "Submit" %>
  </div>


<% end %>

