<% leads.each do |lead| %>
	   <div class="item mb-3">
        <h3 class="item-title pb-3"><%= link_to lead.title, lead_path(lead.slug) %></h3>
                <div class="row">
                  <div class="col-3">
                    <div class="item-image">
                        <%= link_to lead_path(lead._id) do %>
                        <img src="//placehold.it/300x220" class="img-fluid" alt="">
                        <% end %>
                      <!-- <a href="#" class="save-item"><i class="fa fa-star"></i></a>  -->
                    </div>
                  </div>
                  <div class="col-9">
                  <div class="item-info">
                    <div class="row mb-3">
                      <div class="col-md-6">
                          <div class="added-on">
                            Seller From <strong><%= country_name(lead.country) %> </strong>
                            <%= flag_icon(lead.country.downcase) %> 
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="added-by"><%=  Date.parse(lead.created_at).strftime("%B %e, %Y") %></div>
                      </div>
                    </div>
                    <div class="item-details mb-2">
                      <%= lead.description_short %>...
                    </div>
                 </div>         
                  </div>
                </div>
              </div>
	<% end %>
<%= paginate leads %>

