<% leads.each do |lead| %>
		<h2><%= link_to lead.title, lead_path(lead._id) %></h2>
		<%= set_product_image_index(lead) %>
		<h4>By <%= link_to lead.user.user_name, contact_path(lead.user.id) %></h4>
		<p> <%= lead.description_short %></p>
		<hr>
	<% end %>
	<%= paginate leads %>
</div>