<nav class="navbar p-0 navbar-info navbar-expand-md  navbar-dark bg-dark">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
    <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-placeholder-png-3.png"
     width="170" height="70" alt="trade-logo" id="trade-logo">
    <% end %>
    <ul class="nav nav-fill nav-justified">
      <li class="nav-item nav-link" id="nav-login" >
        <% if user_signed_in? %>
          <%= link_to profile_dashboard_path, class: "nav-link text-center" do %>
             <i class="fas fa-lg fa-user"></i> <%= current_user.user_name %>
          <% end %>
        <% elsif !user_signed_in? %>
          <%= link_to new_user_session_path, class: "nav-link text-center" do %>
             <i class="fas fa-lg fa-user"></i> Log In
          <% end %>
        <% end %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Add a Lead!", new_product_path, :class=>"btn btn-lg btn-warning" %>
      </li>
    </ul>
  </div>
</nav>
