<% leads.find_each do |lead| %>
	<% if lead.lead_status == "product" %>
		<%= set_product_image_index_profile(lead) %>
	<% end %>
	<h2><%= link_to lead.title, lead_path(lead) %> </h2>
	<p><%= lead.description_short %></p>
	<small><%= lead.created_at.strftime("%Y/%m/%d - %H:%m")%></small>
	<hr>
<% end %>

<%= paginate leads %>
