 <div class="clearfix"></div>
<div class="item-listing list">
<% leads.each do |lead| %>
     <div class="item mb-3">
        <h3 class="item-title pb-3"><%= link_to lead.title, lead_path(lead) %></h3>
                <div class="row">
                  <div class="col-3">
                    <div class="item-image">
                        <%= link_to lead_path(lead) do %>
                        <%= set_product_image_index(lead, 130, 100) %>
                        <% end %>
                    </div>
                  </div>
                  <div class="col-9">
                  <div class="item-info">
                    <div class="row mb-3">
                      <div class="col-md-6">
                          <div class="added-on">
                           <div class="added-on"><%= link_to "Edit Product", edit_lead_path(lead) %>  </div> 
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="added-by"><%=  lead.created_at.strftime("%B %e, %Y") %></div>
                      </div>
                    </div>
                    <div class="item-details mb-2">
                      <%= lead.description_short %>...
                    </div>
                 </div>
                    
                  </div>
                </div>
              </div>
  <% end %>
<%= paginate leads %>
<%= paginate leads %>
</div>

