<ul class="list-group list-group-flush" id="user_profile_menu">
  <li class="list-group-item">
  	<h6><%= link_to "My Account", profile_dashboard_path, :class=>"text-dark profile_menu" %></h6>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
  	<h6><%= link_to "My Products", profile_products_path,:class=>"text-dark profile_menu" %> </h6>
  	<span class="badge badge-primary badge-pill">
  		<%= @products || 0 %>
  	</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
  	<h6><%= link_to "My Offers", profile_offers_path, :class=>"text-dark profile_menu" %></h6>
  	<span class="badge badge-primary badge-pill">
  		<%= @offers || 0 %>
  	</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
  	<h6><%= link_to "Messages Sent", profile_messages_path, :class=>"text-dark profile_menu" %></h6>
  	<span class="badge badge-primary badge-pill">
  		<%= current_user.messages.count %>
  	</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
  	<h6><%= link_to "Favorites", profile_favorites_path, :class=>"text-dark profile_menu" %></h6>
  	<span class="badge badge-primary badge-pill">
  		<%= current_user.favorite_leads.count %>
  	</span>
  </li>
  <li class="list-group-item">
  	<h6><%= link_to "Membership Status", profile_membership_path, :class=>"text-dark profile_menu"  %></h6>
  </li>
   <li class="list-group-item">
  		<h6><%= link_to "Settings", edit_contact_path(current_user.contact), :class=>"text-dark profile_menu" %></h6>
  </li>
</ul>
	