<div class="text-center">
	<h2>All Products</h2>
	<div class="containter">
	<% @leads.each do |lead| %>
		<h2><%= link_to lead.title, lead_path(lead) %></h2>
		<%= set_product_image(lead) %>
		<h4>By <%= link_to lead.user.user_name, contact_path(lead.user.contact.id) %></h4>
		<p> <%= lead.description %></p>
		<hr>
	<% end %>
	<%= paginate @leads %>
	</div>
</div>
