<% content_for(:title, "Offers")%>
<div class="text-center">
	<%= form_tag(offers_path, method: :get) do %>
			  Search: <%= text_field_tag :q, nil, :value => params[:q] %>
			  <br>
	<%= submit_tag 'Find Offers' %>
	<% end %>
</div>
<div class="row">
	<div class="col-lg-3">
		<div class="container">
		<%= form_tag(offers_path, method: :get) do %>
			<%= render "shared/lead_Filters", countries: @countries,
			categories: @categories, query: params[:q] %>
		<% end %>
		</div>	
	</div>
	<div class="col-lg-9">
	<h2>Machted Offers:</h2>
	<div class="containter">
		<%= render "shared/display_Offers", leads: @leads %>	
	</div>
</div>
