<% content_for(:title, "Products")%>
<div class="text-center">
	<%= form_tag(products_path, method: :get) do %>
			  Search: <%= text_field_tag :q, nil, :value => params[:q] %>
			  <br>
			  <%= submit_tag 'Find Products' %>
	<% end %>
</div>
<div class="row">
	<div class="col-lg-3">
		<div class="container">
		<%= form_tag(products_path, method: :get) do %>
			<%= render "shared/leadFilters", countries: @countries,
			categories: @categories, query: params[:q] %>
		<% end %>
		</div>	
	</div>
	<div class="col-lg-9">
	<h2>Machted Products:</h2>
	<div class="containter">
		<%= render "shared/displayProducts", leads: @leads %>	
	</div>
</div>
	
	

