<% content_for(:title, "Products")%>
 
  <div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item">Products to Sell</li>
            <li class="breadcrumb-item active" aria-current="page"><%= params[:q].first(40) %></li>
            </ol>
            </nav>
      </div>
    </div>
  </div>
  <div class="container mt-3">
  <div class="search-form">
    <div class="card">
      <div class="row">
        <div class="col-lg-9">
          <%= form_tag(products_path, method: :get) do %>
          <div class="form-group">
            <%= text_field_tag :q, nil, :class => "form-control form-control-lg", :value => params[:q] %>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Search</button>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="page-header text-center">
       <h1>Matched Products:</h1>
  </div>
</div>
  <div id="content">
<div class="container">
    <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <aside class="col-md-4 col-lg-3">
        		<%= form_tag(products_path, method: :get) do %>
    				<%= render "shared/lead_Filters", countries: @countries,
    				categories: @categories, query: params[:q] %>
    			<% end %>
          </aside>
          <div class="col-md-8 col-lg-9">
           <ul class="nav nav-tabs tab-lg" role="tablist">
             <li role="presentation" class="nav-item"> 
                <%= link_to "Buyers", {:controller => "leads", :action => "index_offers", :q => params[:q] }, :class => "nav-link"%>
             </li>
             <li role="presentation" class="nav-item">
                <a class="nav-link active">Suppliers</a>
             </li>
            </ul>
            <div class="clearfix"></div>
            <div class="item-listing list">
              <%= render "shared/display_Products", leads: @leads %>
            </div>
          </div>
       </div>
     </div>
    </div>
   </div>
  </div>
