<% content_for(:title, "Add new product")%>
<div id="content" class="property-single">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-12 col-xl-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item active" aria-current="page">New Product for Sale</li>
          </ol>
        </nav>
        <ul class="nav nav-tabs tab-lg" role="tablist">
           <li role="presentation" class="nav-item"> 
            <%= link_to "Product for Sale", new_product_path, :class => "nav-link active"%></li>
          <li role="presentation" class="nav-item">
           <%= link_to "Buying Offer", new_offer_path, :class => "nav-link"%></li>
        </ul>
  <section id="new_offer">
  <div class="py-4">
    <div class="row">
      <div class="col-sm">
        <div class="page-header bordered">
            <h1 class="text-center">Add New Product<small></small></h1>
        </div>
            <h3 class="subheadline">Advertise the product you are selling for your new customers around the world. Describe as many details as possible.</h3>
        <%= form_for(@lead) do |f| %>
        <div class="form-group">
          <h3 class="subheadline py-3">Title:</h3>
           <%= f.text_field :title, autofocus: true, autocomplete: "Title", :class=>"form-control form-control-lg", :id=>"title" %>
        </div>
         <div class="form-group">
          <h3 class="subheadline py-3">Select Category:</h3>
          <select name="lead[category_id]" id="lead_category_id" class="form-control form-control-lg ui-select">
            <option value="1">Fuels</option>
            <option value="2">Raw Materials</option>
            <option value="3">Cosmetics / Body Care</option>
            <option value="4">Groceries / Food</option>
            <option value="5">Mechanic Devices and Parts</option>
            <option value="6">Basic Necessities</option>
            <option value="7">Electronics</option>
            <option value="8">Clothers / Textiles</option>
            <option value="9">Agriculture</option>
            <option value="10">Industrial Goods</option>
            <option value="11">Construction Materials</option>
            <option value="12">Office/Packaging Products</option>
          </select>
          <br>
          <small id="category_helper"></small>
        </div>

        <div class="form-group">
         <h3 class="subheadline py-3">Product Description:</h3>
          <%= f.text_area :description, :class=>"form-control form-control-lg text-editor rounded-1", :id=>"description", rows: "7" %>
        </div>

        <div class="form-group">
         <h3 class="subheadline py-3">Contact Person:</h3>
          <%= f.text_field :contact_person, autofocus: false, autocomplete: "contact person", :class=>"form-control form-control-lg", :id=>"contact" %>
        </div>

        <div class="form-group">
          <h3 class="subheadline py-3">Address:</h3>
           <%= f.text_field :address,  autocomplete: "address", :class=>"form-control form-control-lg", :id=>"address" %>

        <div class="form-group">
          <h3 class="subheadline py-3">City:</h3>
            <%= f.text_field :city, value: @contact.try!(:city), autocomplete: "city", :class=>"form-control form-control-lg", :id=>"city" %>
        </div>

        <div class="form-group">
          <h3 class="subheadline py-3">Zip Code:</h3>
            <%= f.text_field :zip_code, value: @contact.try!(:zip_code), autocomplete: "Zip code", :class=>"form-control form-control-lg", :id=>"zipCode" %>
        </div>

        <div class="form-group">
          <h3 class="subheadline py-3">Country:</h3>
          <%= country_select("lead", "country", { selected: @contact.try!(:country) }, { class: 'form-control form-control-lg ui-select' }) %>
        </div>

        <div class="form-group">
          <h3 class="subheadline py-3">Phone Number:</h3>
          <%= f.text_field :phone_number, value: @contact.try!(:phone_number), autocomplete: "Phone Number", :class=>"form-control form-control-lg", :id=>"phone" %>
        </div>

        <div class="form-group">
          <h3 class="subheadline py-3">Home Page:</h3>
          <%= f.text_field :home_page, value: @contact.try!(:home_page), autocomplete: "Home Page",:class=>"form-control form-control-lg",:id=>"home" %>
        </div>

        
        <div class="form-group pb-5">
                <h3 class="subheadline py-3">Upload Product Image:</h3>
                <div class="ui-dropzone">
                  <img class="img-fluid" id="img_prev">
                  <i class="fa fa-5x fa-upload"></i>
                  <div>Drag and drop product image or click to upload</div>
                  <%= f.file_field :product_image, :class=>"form-control form-control-lg", :onChange=>"readURL(this,'100%','100%')", :id=>"gallery" %>
                </div>
        </div>
          <%= hidden_field_tag :lead_status, "product" %>
           <%= f.submit "Submit New Product", :class=>"btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</section>



      </div>
    </div>
  </div>
</div>