<% content_for(:title, @lead.title)%>
<section id="lead_show" class="py-5">
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="container">
				<div id="lead_title" class="text-center py-3">
					<h4><%= @lead.title %></h4>
				</div>
				<div id="lead_details">
					<h7 class="float-left"><%= country_name(@lead.country) %></h7>
					<h7 class="float-right"><%= @lead.created_at.strftime("%Y-%m-%d") %></h7>
					<br><br>
					<% if @lead.lead_status == "product" %>
						<%= set_product_image_show(@lead) %>
					<% end %>
					<p class="lead py-5"><%= @lead.description %></p>
					<% if user_signed_in? %>
					<%= link_to check_favorite, favorites_update_lead_path(lead: @lead), :method => :put, :class => "btn btn-md btn-primary float-left", :id => "favorite_button", remote: true %>
					<button class="btn btn-md btn-danger float-right">Report Abuse</button>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="container" id="lead-message">
				<% if user_signed_in? %>
					<h4 class="text-center pb-5">Response To This Lead</h4>
					<%= render "shared/lead_Message" %>
				<% else %>
				<div id="lead_login" class="text-center">
					<h3>Not a member?</h3>
					<p class="lead">Register for free and Response to this lead</p>
					<%= link_to "Join For Free",  new_user_registration_path, :class=>"btn btn-lg btn-primary" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</section>