<% content_for(:title, 'Home Page')%>
<section id="home_page">
	<div class="container text-center py-5">
		<h1 class="py-5">Trade - Home Page</h1>
		<div class="row">
			<div class="col-md-4 offset-md-2">
				<%= form_tag(products_path, method: :get) do %>
				  Search: <%= text_field_tag :q, "", class: 'form-control' %>
				  <%= submit_tag 'Find Products',:class=>"btn btn-info" %>
				<% end %>
				<hr>
				<h3>Find Product By Category:</h3>
				<ul class="list-group">
					<% @categories.each do |category| %>
						<li class="list-group-item"><%= link_to category.name, products_categories_path(category.name) %></li>
					<% end %>
				</ul>
			</div>
			<div class="col-md-4">
				<%= form_tag(offers_path, method: :get) do %>
				  Search: <%= text_field_tag :q, "", class: 'form-control' %>
				  <%= submit_tag 'Find Offers', :class=>"btn btn-info" %>
				<% end %>
				<hr>
				<h3>Find Offer By Category:</h3>
				<ul class="list-group">
					<% @categories.each do |category| %>
						<li class="list-group-item"><%= link_to category.name, offers_categories_path(category.name) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>
