<section id="login_panel">
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto py-3">

        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 class="card-title text-center py-2">Log in</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => 'form-signin' }) do |f| %>
              <div class="form-label-group">
                <label for="loginEmail">Email:</label>
                 <%= f.email_field :email, autofocus: true, autocomplete: "email", :id=>"loginEmail",:class=>"form-control", :placeholder=>"Email address", :required=>true %>
              </div>
              <br>
              <div class="form-label-group">
                <label for="loginPassword">Password:</label>
                <%= f.password_field :password, autocomplete: "current-password", :class=>"form-control", :id=>"loginPassword", :placeholder=>"Password", :required=>true %>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                 <%= f.check_box :remember_me, :class=>"custom-control-input", :id=>"passwordCheckbox" %>
                <label class="custom-control-label" for="passwordCheckbox">Remember Me</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">

            <%= render "devise/shared/links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

